.app-container{
    text-align: center;
    margin-top: 50px;
    font-family: Arial, snas-serif;
}

.counter {
    font-size: 3rem;
    margin: 20px 0;
    font-weight: bold;
    color: #333;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
}

button:hover {
    opacity: 0.5;
}

.increase{
    background-color: #4caf50;
    color: white;
}

.decrease{
    background-color: #f44336;
    color: white;
}

.reset{
    background-color: #210621;
    color: white;
}